@font-face {
  font-family: "R_circe";
  src: url("../assets/fonts/circe/Circe-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "B_circe";
  src: url("../assets/fonts/circe/Circe-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gilam";
  src: url(../assets/fonts/gilam/gilam-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(23, 23, 23, 1);
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  width: 1480px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  margin: 0 10px;
}

.header__logo {
  width: 250px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.callnumber {
  font-family: "R_circe";
  color: white;
  font-family: "B_circe";
  font-size: 20px;
}

.callnumber-wrapper {
  color: rgba(214, 175, 118, 1);
}

.callback {
  margin-left: 30px;
}

.callback__button {
  background-color: rgba(23, 23, 23, 1);
  border: 1px solid rgba(214, 175, 118, 1);
  color: rgba(214, 175, 118, 1);
  padding: 15px 20px;
  transition: 200ms;
  cursor: pointer;
  font-family: "B_circe";
  font-size: 20px;
}

.callback__button-img {
  margin-right: 5px;
}

.main__wrapper {
  padding-top: 30px;
  width: 100%;
  max-width: 1920px;
  background-image: url(../assets/images/header-bg.jpeg);
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-bottom: 40px;
}

.main {
  width: 100%;
  max-width: 1480px;
}

.worktable {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 180px repeat(2, 29rem);
  grid-template-areas:
    "worktable worktable worktable worktable worktable worktable"
    "earthwork earthwork pipelaying pipelaying arrangementchannels arrangementchannels"
    "pipes pipes pipes well well well";
  gap: 20px;
}

.worktable__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "gilam";
  grid-area: worktable;
}

.worktable__title {
  font-size: 70px;
}

.worktable__description-text {
  font-size: 25px;
  margin-bottom: 20px;
}

.earthwork {
  background-color: rgba(99, 79, 44, 1);
  color: rgb(255, 255, 255);
  grid-area: earthwork;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gilam";
  font-size: 20px;
}

.pipelaying {
  background-color: rgba(180, 163, 133, 1);
  color: rgb(255, 255, 255);
  grid-area: pipelaying;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "gilam";
}

.arrangementchannels {
  background-color: rgba(228, 181, 100, 1);
  color: rgb(255, 255, 255);
  grid-area: arrangementchannels;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gilam";
  font-size: 20px;
}

.pipes {
  background-color: rgba(99, 90, 74, 1);
  color: rgb(255, 255, 255);
  grid-area: pipes;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gilam";
  font-size: 20px;
}

.well {
  background-color: rgba(176, 140, 77, 1);
  color: rgb(255, 255, 255);
  grid-area: well;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gilam";
  font-size: 20px;
}

.transport__wrapper {
  width: 100%;
  max-width: 1920px;
  background-color: rgba(23, 23, 23, 1);
  display: flex;
  justify-content: center;
}

.transport {
  width: 100%;
  max-width: 1480px;
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px repeat(8, 125px);
  grid-template-areas:
    "transport__title transport__title transport__title"
    "sludge sewer backhoeloader"
    "sludge sewer backhoeloader"
    "sludge sewer truck"
    "loader sewer truck"
    "loader excavator truck"
    "loader excavator rink"
    "loader excavator rink";
}

.transport__title {
  color: white;
  font-family: "Gilam";
  font-weight: 400;
  font-size: 50px;
  grid-area: transport__title;
  display: flex;
  align-items: center;
}

.sludge {
  background-color: rgba(14, 14, 14, 1);
  grid-area: sludge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.sewer {
  background-color: rgba(36, 36, 36, 1);
  grid-area: sewer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.backhoeloader {
  background-color: rgba(31, 31, 31, 1);
  grid-area: backhoeloader;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.loader {
  background-color: rgba(31, 31, 31, 1);
  grid-area: loader;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.excavator {
  background-color: rgba(228, 181, 100, 1);
  grid-area: excavator;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.truck {
  background-color: rgba(14, 14, 14, 1);
  grid-area: truck;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.rink {
  background-color: rgba(10, 9, 9, 1);
  background-size: auto 100%;
  grid-area: rink;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gilam";
  font-weight: 400;
}

.cars-wrapper {
  font-size: 20px;
  font-family: "Gilam";
  font-weight: 700;
}

.projects__wrapper {
  width: 100%;
  max-width: 1920px;
  background-image: url(../assets/images/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 100%;
  max-width: 1480px;
  display: grid;
  color: rgb(255, 255, 255);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 190px);
  grid-template-areas:
    "projects__description projects__description projects__description"
    "project_1 project_2 project_3"
    "project_1 project_2 project_3"
    "project_4 project_5 project_6"
    "project_4 project_5 project_6";
}

.projects__button {
  background-color: rgba(23, 23, 23, 1);
  border: 1px solid rgba(214, 175, 118, 1);
  color: rgba(214, 175, 118, 1);
  padding: 12px 45px;
  transition: 200ms;
  cursor: pointer;
  font-family: "B_circe";
  font-size: 20px;
}

.projects__description {
  grid-area: projects__description;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 30px;
  font-family: "B_Circe";
  margin-bottom: 20px;
}

.project_1,
.project_2,
.project_3,
.project_4,
.project_5,
.project_6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_1 {
  grid-area: project_1;
  background-color: rgba(99, 79, 44, 0.8);
}

.project_2 {
  grid-area: project_2;
  background-color: rgba(232, 210, 171, 0.8);
}

.project_3 {
  grid-area: project_3;
  background-color: rgba(228, 181, 100, 0.8);
}

.project_4 {
  grid-area: project_4;
  background-color: rgba(99, 90, 74, 0.8);
}

.project_5 {
  grid-area: project_5;
  background-color: rgba(176, 140, 77, 0.8);
}

.project_6 {
  grid-area: project_6;
  background-color: rgba(99, 79, 44, 0.8);
}

.project_2-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project_2-texts {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_2-text {
  font-family: "B_circe";
}

.footer__wrapper {
  background-color: rgba(23, 23, 23, 1);
  width: 100%;
  max-width: 1920px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 70px);
}
